@import '@frontend-playground/shared/styles/abstracts';

$white: #fff;
$gray-light: #adb5bd;
$gray: #6c757d;
$dark-light: #495057;
$dark: #264653;
$green: #2a9d8f;
$yellow: #e9c46a;
$orange-light: #f4a261;
$orange: #e76f51;
$blue: #1e96fc;
