@import 'styles/abstracts';

.content-responsive-table {
  @keyframes responsive-table-fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  img {
    opacity: 0;

    &.visible {
      animation: responsive-table-fadein 0.3s linear forwards;
    }
  }

  .table-wrap {
    display: inline-block;
    width: 100%;
  }

  @media (max-width: 800px) {
    table.table-wrap thead,
    table.table-wrap td.total,
    table.table-wrap .hide-on-warp {
      display: none;
    }

    table.table-wrap tr {
      display: block;
      margin-bottom: 10px;
    }

    table.table-wrap td,
    table.table-wrap tbody {
      display: block;
      text-align: right;
    }

    table.table-wrap td:last-child {
      border-bottom: 0;
    }

    table.table-wrap td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  table {
    width: 100%;
    border: 1px $white solid;
  }
  th,
  td {
    padding: 5px;
  }
}
