@import 'styles/abstracts';

.not-found-page {
  background-color: $dark;

  .main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
  }

  .not-found {
    &__link {
      @include underline($behavior: 'remove-on-hover', $color: $white);
      margin-top: 50px;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
