html,
body {
  height: 100%;
}

body {
  position: relative;
  font-family: $primary-font;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $default-font-size;
  line-height: 1.6;
  color: $black;
}

// .container {
//   margin: 0 auto;
//   padding-right: 15px;
//   padding-left: 15px;
//   max-width: 1300px;
// }
