.use-transition-hook {
  .transition-example {
    --transition-duration: 0.5s;

    font-size: 25px;
    font-weight: 600;
    transition: transform var(--transition-duration), opacity var(--transition-duration);
    opacity: 1;
    transform: translate(0, 0);

    &.preEnter,
    &.exiting {
      opacity: 0;
      transform: translate(245px, 158px);
    }

    &.exited {
      display: none;
    }
  }
}
