.password-generator {
  display: flex;
  flex-direction: column;
}

.row {
  display: grid;
  grid-template-columns: 300px max-content auto;
  grid-column-gap: 15px;
  align-items: center;
  justify-items: flex-start;
}

.row + .row {
  margin-top: 15px;
}

.control {
  &.type-number,
  &.type-text {
    padding: 0 5px;
    margin: 0;
    border: 0;
  }
}

.textarea {
  padding: 5px;
  border: 0;
}

.checkbox {
  width: 15px;
  height: 15px;
}

.label {
  .type-checkbox {
    margin-right: 10px;
  }
}

.rowGenerate {
  .button {
    grid-column: 1/-1;
    width: 100%;
    display: block;
    height: 35px;
  }
}

.rowSymbols {
  .description {
    align-self: flex-start;
  }

  .controlSymbols {
    display: flex;
    align-items: center;

    .checkbox {
      margin-right: 10px;
    }
  }
}

.rowPasswordLength {
  align-items: flex-start;

  .errorWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 2/3;
  }
}

.rowPasswordResult {
  align-items: flex-start;
  grid-column: 1/-1;

  .passwordResultControls {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column: 2/-1;

    .button {
      height: 35px;
    }
  }
}

.characterSet {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid transparent;

  align-items: flex-start;

  &.noCharacterSet {
    border-color: #f00;
  }
}

// .label {
//   display: grid;
//   grid-template-columns: 300px max-content auto;
//   grid-column-gap: 15px;
//   align-items: center;
//   justify-items: flex-start;

//   > span:first-of-type {
//     grid-column: 1;
//     grid-row: 1 / 10;
//   }

//   .checkbox {
//     grid-column: 2;
//   }
//   .hint {
//     grid-column: 3;
//   }
// }

// .label + .label {
//   margin-top: 15px;
// }

//   .checkbox {
//     margin-right: 10px;
//   }

//   .inputSymbols {
//     min-width: 240px;
//   }

//   .error {
//     grid-column: 2/-1;
//   }
// }

// .labelPassword {
//   .button {
//     padding: 0 20px;
//   }
//   .input {
//     min-width: 400px;
//   }
// }

// .descriptionPasswordLength {
//   .descriptionText {
//     align-self: flex-start;
//   }
//   .errorWrapper {
//     grid-column: 2/-1;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//   }
// }

// .info,
// .metric {
//   margin-top: 15px;
// }

.error {
  color: #f00;
}
