- const MODE = process.env.NODE_ENV === 'production' ? 'production' : 'development';
- const __DEV__ = MODE === 'development';
- const __PROD__ = MODE === 'production';

//- - const siteUrl = 'http://localhost:3333/';

//- page config
-
  let pageTitle = 'HTML playground',
      bodyAttributes = {};
