//- include ./core/mixins

//- doctype html
//- html(lang='en')

//-   head
//-     meta(charset='UTF-8')
//-     meta(http-equiv='X-UA-Compatible' content='IE=edge')
//-     meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-     link(rel='stylesheet' href='/css/index.css')
//-     link(rel='preconnect' href='https://fonts.googleapis.com')
//-     link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
//-     link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
//-     title HTML Playground

//-   body
//-     h1 HTML Playground

//-     //- for './samples/regexp';
//-     //- input#validate-with-regexp(type="text")

//-     script(src='/js/index.js')


extends ../core/layout

append config
  -
    pageTitle = 'HTML playground';
    bodyAttributes.class = 'page-index'

append styles
   +styles(['index.css'])

append scripts
   +styles(['index.js'])

block content
  main.main
    .container
      h1 HTML playground
