.password-generator {
  display: flex;
  flex-direction: column;

  .characterSet {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid transparent;

    &.noCharacterSet {
      border-color: #f00;
    }
  }

  .label + .label {
    margin-top: 15px;
  }

  .labelPassword input {
    width: 550px;
  }

  .labelText {
    margin-right: 10px;
    user-select: none;
    width: 300px;
    display: inline-block;
  }

  .hint {
    margin-left: 10px;
    user-select: none;
  }

  .info,
  .metric {
    margin-top: 15px;
  }
}

.error {
  color: #f00;
}
