.top-link {
  text-align: center;
  display: block;
}

.link-group {
  .link {
    padding-left: 15px;
  }
}

.link-group-item {
  display: block;
}

.link {
  padding: 5px 0 5px 10px;
  transition: color 0.15s ease;
  text-decoration: none;
  outline: 1px solid #ddd;

  &.is-active {
    color: $orange-light;
    font-weight: bold;
  }
}

.category {
  padding: 5px 0;
}

.menu {
  padding: 10px 10px 40px 10px;
  position: relative;
  max-height: 100vh;
  overflow: auto;
  @include invisibleScrollbar;
}
