.aside {
  padding: 10px;
}

.top-link {
  text-align: center;
  display: block;
}

.link-group {
  padding-left: 15px;
}

.link-group-item {
  display: block;
}

.link {
  // border: 1px solid #000;
  padding: 5px 0 5px 10px;
  transition: color 0.15s ease;
  text-decoration: none;

  &.is-active {
    color: #e26352;
  }

  &.is-active-animated {
    color: #fff;
  }
}

.menu {
  position: relative;
  max-height: 100vh;
  overflow: auto;
  @include invisibleScrollbar;
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
}
