.content-jumping-links {
  --duration: 0.5s;
  --bounce: cubic-bezier(0.33, 1.61, 0, 0.83);

  .toggle {
    position: absolute;
    top: 0;
    left: 0;
    transition: all var(--duration) var(--bounce);
    background: #365386;
    border-radius: 8px;
  }

  .jump {
    position: relative;
    display: inline-block;
    padding: 0.25em;
    text-decoration: none;
    color: rgb(219, 219, 219);
  }
}
